*{
	box-sizing: border-box;
}
html, body{
	height: 100%;
	width: 100%;
}
.container{
	margin: 0 auto;
	background-image: url("../images/sayagata-400px.png");
}
header{
	background: #ffffff;
	border-bottom: 1px solid #666 ;
}
h1{
	color: #4aaaa5;
	font-size: 20px;
}
h2{
	color: #4aaaa5;
	font-size: 15px;
}
.Name{
	background: #4aaaa5;
	color: white;
	text-align: center;
}
.Pages a:link{
	text-decoration: none;
	margin: 20px;
	color: #666;
}
.Pages a:hover{
	color: #4aaaa5;
}
.wrapper{
	padding-top: 0 auto;
}
#main-bio{
	margin-top: 10px;
	margin-left: 35px;
	margin-bottom: 10px;
	background: #ffffff;
	padding: 25px 25px;
	overflow: auto;
}
#main-bio > h1{
	font-size: 40px;
}
#contact-form{
	margin-top: 10px;
	margin-left: 35px;
	margin-bottom: 10px;
	padding: 25px 25px;
	background: #ffffff;
}
#contact-form > h1{
	font-size: 40px;
}
.row{
	color: #666;
	font-size: 25px;
	padding: 5px 10px;
}
#message{
	margin-top: 10px;
	border
}
#submit_button{
	background: #4aaaa5;
	color: white;
	width: 80px;
	height: 40px;
	margin-left: 10px;
	text-align: center;
	padding: 10px;
}
#bio-image{
	padding: 10px 10px;
}
#bio-image > img{
	margin-right:10px;
}
#bio-image > p{
	color: #666;
	line-height: 150%;
	text-indent: 40px;
}
#contact-info{
	border: 2px #666;
	margin-top: 10px;
	margin-right: 35px;
	padding: 10px 10px;
	background: #ffffff;
}
#contact-info > h1{
	font-size: 25px;
}
#portfolio{
	margin-top: 10px;
	margin-left: 35px;
	margin-bottom: 10px;
	padding: 25px 25px;
	background: #ffffff;
}
#portfolio > h1{
	font-size: 30px;
}
#portfolio > img{
	margin: 10px 60px;
}
#hangman{
	background: #4aaaa5;
	color: white;
	text-align: center;
}
#rpg{
	background: #4aaaa5;
	color: white;
	text-align: center;
}
#trivia{
	background: #4aaaa5;
	color: white;
	text-align: center;
}
#widget{
	background: #4aaaa5;
	color: white;
	text-align: center;
}
#rock{
	background: #4aaaa5;
	color: white;
	text-align: center;
}
.clear{
	clear: both;
}
.footer{
	background:#666666;
	color: white;
	text-align: center;
	font-size: 10px;
	border-top: 5px solid #4aaaa5;
	padding-top: 32.5px;
}

@media screen and (min-width: 980px) {
	.container{
		position: fixed;
		height: 100%;
		width: 960px;
	}
	.Name{
		width: 150px;
		height: 50px;
		font-size: 20px;
		padding-top: 18px;
		margin-left: 100px;
		position: relative;
	}
	.Pages{
		position: relative;
		width: 960px;
		margin-left: 600px;
		margin-top: -25px;
		padding-bottom: 10px;
	}
	.wrapper{
		height: 100%;
		margin: 0 auto;
		width: 960px;
	}
	#main-bio{
		height: 100%;
		float: left;
		width: 650px;
		padding-bottom: 500px;
	}
	#contact-form{
		height: 100%;
		float: left;
		width: 650px;
		padding-bottom: 500px;
	}
	#contact-info{
		float: right;
	  width:200px;
	}
	#portfolio{
		height: 100%;
		float: left;
		width: 650px;
		padding-bottom: 500px;
	}
	#hangman{
		position: absolute;
		top: 250px;
		left: 120px;
		height: 25px;
		width: 175px;
		padding-top: 5px;
	}
	#rpg{
		position: absolute;
		top: 250px;
		right: 370px;
		height: 25px;
		width: 175px;
		padding-top: 5px;
	}
	#trivia{
		position: absolute;
		top: 388px;
		left: 120px;
		height: 25px;
		width: 175px;
		padding-top: 5px;
	}
	#widget{
		position: absolute;
		top: 388px;
		right: 370px;
		height: 25px;
		width: 175px;
		padding-top: 5px;
	}
	#rock{
		position: absolute;
		top: 526px;
		left: 120px;
		height: 25px;
		width: 175px;
		padding-top: 5px;
	}
	.footer{
		position: fixed;
		bottom: 0;
		margin: 0 auto;
		height: 75px;
		width: 960px;
	}
}
@media screen and (max-width: 768px) {
	#main-bio{
		
	}

	
}
@media screen and (max-width: 640px) {
	.container{
		height: 100%;
		width: 640px;
		background-image: url("../images/sayagata-400px.png");
	}
	.Name{
		position: relative;
		width: 640px;
		height: 50px;
		font-size: 20px;
		text-align: center;
		padding-top: 15px;
	}
	.Pages{
		background: white;
		width: 640px;
		height: 50px;
		text-align: center;
		font-size: 20px;
		padding-top: 15px;
	}
	.Pages a:link{
		margin: 50px;
	}
	.wrapper{
		height: 100%;
		width: 640px;
	}
	#main-bio{
		height: 60%;
		width: 600px;
		background: #ffffff;
		margin: 25px auto 0px auto;
	}
	#bio-image > img{
		height: 515px;
		margin-bottom: 30px;
	}

	#contact-info{
		background: #ffffff;
		width: 600px;
		margin: 25px auto;
	}
	.footer{
		position: fixed;
		bottom: 0;
		width: 640px;
		background:#666666;
		height: 75px;
		color: white;
		text-align: center;
		font-size: 10px;
		border-top: 5px solid #4aaaa5;
	}
	
}